---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("blog", ({ data }) => {
    return data.category === "OSPOD a soud";
});
---

<BaseLayout title="OSPOD a soud – Dítě v rozvodu">
    <!-- Topic Hero -->
    <header
        class="bg-gradient-to-r from-primary to-light-blue text-white py-16"
    >
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
            <h1 class="text-4xl md:text-6xl font-bold mb-6">OSPOD a soud</h1>
            <p class="text-xl md:text-2xl opacity-90 max-w-3xl mx-auto mb-8">
                Soudní řízení a jednání s úřady jsou pro mnoho rodičů
                strašákem. OSPOD vám ale může pomoct s domluvou a rozsudek soudu může zajistit pravidla, podle kterých se vaší rodině bude dobře žít.
            </p>
            <a
                href="https://spondea.thinkific.com/courses/jakmluvitsdetmi"
                class="inline-block bg-white text-primary px-8 py-3 rounded-full font-semibold hover:bg-gray-100 transition"
            >
                Naučte se mluvit s dětmi
            </a>
        </div>
    </header>

    <!-- Content Section -->
    <section class="py-16 bg-gray-50">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
                {
                    articles.map((article) => (
                        <ArticleCard
                            title={article.data.title}
                            description={article.data.description}
                            category={article.data.category}
                            image={article.data.image}
                            slug={article.slug}
                            showCategory={false}
                        />
                    ))
                }
            </div>
        </div>
    </section>
</BaseLayout>
